* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.topbar {
    display: flex;
    border-bottom: 1px solid grey;
    align-items: center;

}

.topbar a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.navbarlist {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.carousel-div{
    margin: 4% 0;
    width: 100vw;
}
.carousel-item img {
    width: 100px;
    height: 500px;
    object-fit: cover;
}

.img-card img{
    width: 300px;
    max-width: 500px;
}