/* lvha */
/* l:link */
/* v:visit*/
/* h:hover */
/* a:active */

a:link{
    text-decoration: none;
    color: palevioletred;
}

a:visited{
    color: palevioletred;
}

a:hover{
    text-decoration: underline;
}

a:active{
    background-color: red;
    color: blue;
}

a+a{
    border-left: 3px solid gray;
    margin-left: 20px;
    padding-left: 20px;
}