p {
    font-size: 35px;
    color: aqua;
    line-height: 30px;
    margin: 30px 60px 40px 20px;
    font-family: 'Times New Roman', times, sans-serif;
    border: 5px dashed white;
    padding: 15px;
}

h1, h2, h3{
    font-size: 20px;
}

h1 {
    color:blueviolet;
}

/* Descendant selector */
p span{
    background-color: red;
}