.div {
    border: 2px solid black;
    /* min-height: 50px;
    margin: 10px; */
}

.side-a {
    float: left;
    margin: 10px;
    min-height: 50px;
    width: 30%;
}

.side-b {
    float: right;
    margin: 10px;
    min-height: 50px;
    width: 30%;

}

.clearfix {
    clear: both;
}

.chrimg {
    width: 100%;
}

.div::after {
    content: "";
    display: table;
    clear: both;
}