* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0 110px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1fr;
    height: 140px;
    margin: auto;
}

.c2 {
    clear: both;
}

.container-2-l {
    margin-top: 20px;
    display: grid;
    float: left;
    width: 850px;
    row-gap: 30px;
    border-right: 1px solid #ccc;
}

.firstarticle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.firstarticleone {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 250px;
    border-bottom: 1px solid #ccc;
}

.firstarticletwo {
    display: flex;
    flex-wrap: wrap;
}

.secondarticle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;

}

.secondarticleone {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 150px;
    border-bottom: 1px solid #ccc;
}

.secondarticletwo {
    display: flex;
    flex-wrap: wrap;
}

.thirdarticle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.thirdarticleone {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 150px;
    border-bottom: 1px solid #ccc;
}

.thirdarticletwo {
    display: flex;
    flex-wrap: wrap;
}

.categories {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    align-items: center;
    border-top: 2px solid #ccc;
}

.border {
    border: 1px solid black;
}

.todaysDate {
    font-weight: 800;
}

.flexbox {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.icons {
    width: 100%;
}

.dateDetails {
    font-size: 12px;
}

.date {
    padding: 10px
}


.flexNewyorkTimes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 100%;
}

.languages {
    width: 100%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 9px;
}

.international {
    font-weight: 800;
}

.subscribeButtons,
.weatherForecast {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.navButton {
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(86, 123, 149);
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-weight: 600;
    font-size: 10px;
}

.subscribeButtons {
    margin-top: 10px;
}


.magazine {
    border-right: 2px solid #ccc;
    padding-right: 25px;
}

.hr {
    width: 97%;
}

.categoryItem {
    font-size: 12px;
}

.container-2 {
    display: grid;
}

.container-2-r {
    float: right;
    width: 350px;
    margin-top: 20px;
    display: grid;
    row-gap: 20px;
}

.r-firstarticle {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-bottom: 15px;
}

.r-secondarticle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.r-secondarticleone {
    border-right: 1px solid #ccc;
}

.r-thirdarticle {
    display: grid;
}

.r-thirdone, .r-thirdtwo, .r-thirdthree, .r-thirdfour, .r-thirdfive, .r-thirdsix, .r-thirdseven, .r-thirdeight {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;

}
